:root {
    font-family: 'Montserrat', sans-serif;
    --color-main-blue: #18CFAB;
}

.container {
    width: 1160px;
    margin: 0 auto;
    text-align: center;
}

a{
    text-decoration: none;
    color: inherit;
}

header {
    background: url('..//images/header-bg.png');
    background-repeat: no-repeat;
    padding-bottom: 243px;
    padding-top: 379px;
}

.header-menu {
    width: 100vw;
    color: rgba(255, 255, 255, 0.6);;
    background: rgba(94, 93, 88, 0.6);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link{
    display: flex;
    align-items: center;
    color: #fff;
    margin: 26px 0;
    font-size: 32px;
    line-height: 48px;
    position: relative;
    right: 31px;
}


.logo-link::before {
    content: 'H';
    position: relative;
    font-weight: bold;
    font-size: 40px;
    line-height: 31px;
    left: 45px;
}

.logo-bg-img {
    margin-right: 6px;
}

.hoverd {
    color: var(--color-main-blue);
}

.blue-text {
    color: var(--color-main-blue);
}

.navbar-menu {
    display: flex;
}

.navbar-item {
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    margin-right: 21px;
}

.navbar-item-link:hover {
    color: var(--color-main-blue);
    
}

.navbar-item-link:hover svg {
    fill: var(--color-main-blue);
}


.header-about-text {
    color: #fff;
    margin: 0 0 134px 0;
    text-align: center;
}

.header-highlight {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 22px;
}

.header-big-text {
    font-weight: bold;
    font-size: 78px;
    margin-bottom: 22px;
}

.header-grey-text {
    font-size: 34px;
    color: #D4D4D4;
}

.btn {
    width: 168px;
    height: 63px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    color: #fff;
    position: relative;
    z-index: 1;
    top: 4px;
    text-transform: uppercase;
    border: none;
}

.btn-shadow {
    background: #fff;
    width: 168px;
    height: 63px;
    border-radius: 5px;
}

.action-btns {
    display: flex;
    width: 362px;
    justify-content: space-between;
    margin: 0 auto;
}

.light-green {
    background: var(--color-main-blue);
}

.light-green-text {
    color: var(--color-main-blue);
}

.blue {
    background:#00CBF6;
}

.features {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 482px;
    height: 377px;
    background: #1C2A33;
}

.card.light-green {
    background: var(--color-main-blue);
}

.card-text {
    text-transform: uppercase;
    margin-top: 58px;
}

.card-text.light-green-text {
    margin-top: 48px;
}

.services {
    padding: 83px 0 91px 0;
    text-align: center;
}

.headlight {
    color: #4E4E4E;
    font-size: 36px;
    line-height: 40px;
}

.pseudoelement::after {
    content: '';
    display: block;
    width: 79px;
    height: 2px;
    background: var(--color-main-blue);
    position: relative;
    top: 78px;
    left: 545px
}

.pseudoelement::before {
    content: '';
    display: block;
    width: 79px;
    height: 2px;
    background: var(--color-main-blue);
    position: relative;
    top: 75px;
    left: 532px
}

.tabs-content {
    margin-top: 101px;
}

.navigation {
    display: flex;
}

.tab-title {
    width: 195px;
    height: 76px;
    color: #717171;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    font-size: 16px;
    line-height: 39px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.active {
    position: relative;
    background: var(--color-main-blue);
    color: #fff;
}

.active.tab-title::after {
    content: url('..//images/triangle-for-tabs.svg');
    display: inline-block;
    width: 27px;
    height: 15px;
    position: absolute;
    left: 85px;
    top: 63px;
}

.tabs-hovered {
    border: 1.5px solid #18CFAB;
}

.content-container {
    margin-top: 23px;
}

.tab-article {
    display: none;
    margin-top: 23px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    color: #777777;
}

.selected {
    display: flex;
}

.tab-img {
    width: 192px;
    height: 139px;
    margin-right: 15px;
}

.section-purchase-headlight{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
}

.section-purchase-text {
    color: #D8D8D8;
    font-size: 16px;
    line-height: 40px;
    margin: 12px 0 67px 0;
}

.purchase-now {
    padding: 127px 0;
    background-image: url(..//images/purchase-now-bg.png);
}

.btn-wrapper {
    display: inline-block;
    margin: 0 auto;
}

.amazing-work {
    padding: 96px 0;
    background: #E9EDEF;
}

.filter {
    display: flex;
    justify-content: center;
    margin-top: 97px;
    margin-bottom: 71px;
}

.filter-option {
    align-content: center;
    border: 1px solid #DADADA;
    padding: 15px;
    font-size: 14px;
    color: #717171;
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.filtered {
    width: 285px;
    height: 211px;
}

.filter-active {
    border: 2px solid #18CFAB;
}

.pseudo-plus::before {
    content: url('..//images/plus.svg');
    margin-right: 15px;
}

.chain {
    margin-right: 3px;
}

.chain-item {
    position: relative;
    bottom: 14px;
    left: 33px;
}

.rectangle-item {
    position: relative;
    bottom: 15px;
    right: 32px;
}

.creative-design {
    width: 285px;
    height: 206px;
    background: #E9EDEF;
    border-top: 4px solid var(--color-main-blue);
    box-sizing: border-box;
}


.icons {
    display: inline-flex;
    margin: 46px auto 25px auto;

}

.design-card-text {
    display: flex;
    flex-direction: column;
}

.card-headlight {
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
}

.grey-text {
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
}

.chain:hover svg{
    fill: var(--color-main-blue);
}

.chain:hover .chain-item path {
    fill: #fff
}

.rectangle:hover svg {
    fill: var(--color-main-blue);
}

.rectangle:hover .rectangle-item  rect{
    fill: #fff
}


.imageWrapper {
    position: relative;
    width: 280px;
    height: 206px;
}


.breacking-news-card {
    width: 263px;
    height: 208px;
}

.filtered-img {
    height: 206px;
}

.creative-design {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.imageWrapper:hover .creative-design{
    visibility: visible;
}

.breakind-news-link:hover .news-date {
    background: var(--color-main-blue);
}

.breakind-news-link:hover  .news-headlight {
    color: var(--color-main-blue);
}

.news-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 281px);
    gap: 44px 35px;
    margin-top: 101px;
}

.news-text-wrapper {
    display: flex;
    justify-content: space-between;
    width: 210px;
    margin: 0 auto;
}

.news-text-wrapper::after {
    content: '';
    display: inline-block;
    height: 14px;
    width: 1px;
    background: #717171;
    position: relative;
    top: 13px;
    right: 128px;
}

.news-text-wrapper > span {
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #717171;
}

.news-text {
    width: 210px;
    margin: 0 auto;
}

.news-headlight {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    margin-top: 3px;
}

.news-date {
    width: 70px;
    height: 68px;
    background: #203E38;
    position: relative;
    left: 193px;
    bottom: 211px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #fff
}

.breaking-news {
    padding-top: 82px;
    padding-bottom: 129px;
}

.people-about-ham {
    background: url('..//images/section-3.jpg');
    padding: 98px 0 104px 0;
}

.people-about-headlight {
    font-size: 36px;
    line-height: 40px;
    color: #fff;
    margin-bottom: 99px;
}

.about-grey-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 38px 0;
}

.aboute-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: var(--color-main-blue);
    text-transform: uppercase;
}

.display-picture-frame {
    position: absolute;
}

.display-picture {
    position: relative;
    left: 11px;
    top: 12px;
    width: 143px;
    height: 142px;
}

.small-diplay-picture {
    position: relative;
    left: 4px;
    top: 5px;
    width: 58px;
    height: 58px;

}

.switch {
    display: flex;
    justify-content: center;
    margin-top: 69px;
}

.small-user {
    margin: 0 35px;
}

.pseudocoma::before {
    content: url('..//images/users/comas.png');
}

.pseudocoma {
    margin-bottom: 37px;
}

.switch-btn {
    width: 31px;
    height: 31px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    position: relative;
    top: 18px;
}

.switch-btn:hover{
    background: var(--color-main-blue);
}

.switch-png {
    position: relative;
    top: 1px;
}

.L {
    right: 1px;
}

.R {
    left: 1px;
}


.current-user {
    position: relative;
    animation-name: select;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes select {
    0%   {bottom: 0;}
    100% {bottom: 13px;}
}

footer {
    padding: 47px 0;
    background: #22353F;
}

.footer-text {
    display: flex;
    justify-content: center;
    color: #AEAEAE;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
}

.blu-text {
    color: var(--color-main-blue);
}

.best-images {
    padding: 108px 0 88px 0;
}

.best-images-grid {
    margin-top: 115px;
    margin-bottom: 52px;
}

.load-animation {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
  }
  
  @keyframes arrows {
    0%,
    100% {
      color: black;
      transform: translateY(0);
    }
    50% {
      color: #3AB493;
      transform: translateY(20px);
    }
  }
  
  .animation-item {
    --delay: 0s;
    animation: arrows 1s var(--delay) infinite ease-in;
  }
  .hidden {
      display: none;
  }